<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'Dealers' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addDealersModal()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-searchbar (ionInput)="callSearch($event)" (ionClear)="onClear($event)"></ion-searchbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngFor="let item of DealerArraySearch">

            <ion-item>
                <ion-thumbnail item-start>
                    <img src="assets/imgs/user.png" alt="item.Device_Name">
                    <ion-icon name="trash" style="margin-left: 41%;margin-top: 10%;font-size: 30px;color: #b9002f;"
                        (tap)="DeleteDealer(item._id)"></ion-icon>
                </ion-thumbnail>
                <ion-row>
                    <ion-col col-8 style="padding: 0px;">
                        <p>
                            <span ion-text color="dark">{{'Name:' | translate}} </span>
                            {{item.first_name}}&nbsp;{{item.last_name}}
                        </p>
                    </ion-col>
                    <ion-col col-4 style="padding: 0px;">
                        <ion-badge color="light" (tap)="addPonits(item)">Add Points</ion-badge>
                    </ion-col>
                </ion-row>
                <div (tap)="switchDealer(item._id)">
                    <ion-row>
                        <ion-col col-12 style="padding: 0px;">
                            <p>
                                <span ion-text color="dark">{{'Email:' | translate}} </span>
                                {{item.email}}
                            </p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 style="padding: 0px;">
                            <p *ngIf="item.pass">
                                <span ion-text color="dark">{{'Password:' | translate}} </span>
                                {{item.pass}}
                            </p>
                            <p *ngIf="!item.pass">
                                <span ion-text color="dark">{{'Password:' | translate}} </span>
                                Not Saved
                            </p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 style="padding: 0px;">
                            <p>
                                <span ion-text color="dark">{{'Phone:' | translate}} </span>
                                <a href="tel:{{item.phone}}">{{item.phone}}</a>
                            </p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 style="padding: 0px;">
                            <p>
                                <span ion-text color="dark">{{'Created On:' | translate}} </span>
                                {{item.created_on | date:'shortDate'}}
                            </p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 style="padding: 0px;">
                            <p>
                                <span ion-text color="dark">{{'Total Vehicles:' | translate}} </span>
                                <span ion-text color="danger">{{item.total_vehicle}}</span>
                            </p>
                        </ion-col>
                    </ion-row>
                </div>
                <!-- <div (tap)="switchDealer(item._id)">
                    <p>
                        <span ion-text color="dark">{{'Name:' | translate}} </span>
                        {{item.first_name}}&nbsp;{{item.last_name}}

                        <ion-badge color="light" style="margin-left: 47px;">Add Points</ion-badge>
                    </p>
                    <p>
                        <span ion-text color="dark">{{'Email:' | translate}} </span>
                        {{item.email}}
                    </p>
                    <p *ngIf="item.pass">
                        <span ion-text color="dark">{{'Password:' | translate}} </span>
                        {{item.pass}}
                    </p>
                    <p *ngIf="!item.pass">
                        <span ion-text color="dark">{{'Password:' | translate}} </span>
                        Not Saved
                    </p>
                    <p>
                        <span ion-text color="dark">{{'Phone:' | translate}} </span>
                        <a href="tel:{{item.phone}}">{{item.phone}}</a>
                    </p>
                    <p>
                        <span ion-text color="dark">{{'Created On:' | translate}} </span>
                        {{item.created_on | date:'shortDate'}}
                    </p>
                    <p>
                        <span ion-text color="dark">{{'Total Vehicles:' | translate}} </span>
                        <span ion-text color="danger">{{item.total_vehicle}}</span>
                    </p>
                </div> -->

                <p>
                    <ion-row>
                        <ion-col col-3 style="padding: 0px;">
                            <button ion-button small (click)="_editDealer(item)">{{'Edit' | translate}}</button>
                        </ion-col>
                        <ion-col col-4 style="text-align: center;padding: 0px;">
                            <button ion-button small (click)="dealerStatus(item)" *ngIf="item.status == true"
                                color="mypink">{{'active' | translate}}</button>
                            <button ion-button small color="danger" (click)="dealerStatus(item)"
                                *ngIf="item.status != true">{{'inactive' | translate}}</button>
                        </ion-col>
                        <ion-col col-5 style="padding: 0px;">
                            <button ion-button small color="primary"
                                (click)="dealerPerm(item)">{{'Permission' | translate}}</button>
                        </ion-col>
                    </ion-row>
                    <!-- <button ion-button small (click)="_editDealer(item)">{{'Edit' | translate}}</button>
                    <button ion-button small (click)="dealerStatus(item)" *ngIf="item.status == true"
                        color="mypink">{{'active' | translate}}</button>
                    <button ion-button small color="danger" (click)="dealerStatus(item)"
                        *ngIf="item.status != true">{{'inactive' | translate}}</button>
                    <button ion-button small color="primary"
                        (click)="dealerPerm(item)">{{'Permission' | translate}}</button> -->
                </p>
            </ion-item>

        </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>